<%- include('partials/_header') -%>


    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row" style="height:90vh !important;">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
    
                                

                            </div>
                            <form class="user" action="/admin/register" method="POST">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" style="font-size:1.3rem !important;" name="firstname"
                                            class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="First Name"
                                           <% if (typeof firstname !='undefined') { %>
                                            value="<%=  firstname%>"
                                           <% } else { %>
                                                value=""
                                            <% } %> 
                                           >
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" name="lastname" style="font-size:1.3rem !important;"
                                            class="form-control form-control-user" id="exampleLastName"
                                            
                                            <% if (typeof lastname !='undefined') { %>
                                                value="<%=  lastname%>"
                                               <% } else { %>
                                                    value=""
                                                <% } %> 



                                            placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" style="font-size:1.3rem !important;"
                                        class="form-control form-control-user" id="exampleInputEmail"
                                        value="<%= typeof email !='undefined' ? email : ''%>"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" style="font-size:1.3rem !important;" name="password"
                                            class="form-control form-control-user"
                                            
                                            id="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" style="font-size:1.3rem !important;" name="repassword"
                                            class="form-control form-control-user"
                                           
                                            id="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <button type="submit" style="font-size:1.3rem !important;"
                                    class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                                <a href="#" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/admin/forget-password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/admin/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/_footer') -%>